body {
    font-family: "Open Sans", "Alef", sans-serif;
    background-color: #ffffff; /* רקע בהיר */
    color: #333; /* טקסט כהה */
    margin: 0;
    padding: 0;
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
  }
  
  h1 {
    text-align: center;
    color: #444;
  }
  
  button {
    background: linear-gradient(90deg, #007BFF, #0056d2); /* מעברי צבע */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition:  0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
  }
  
  .todo-container {
    background-color: #fff; /* רקע כרטיסיות */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* צל עדין */
    border-radius: 10px; /* קצוות מעוגלים */
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .todo-header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .todo-title {
    flex: 1;
    margin-left: 10px;
  }
  
  .todo-actions {
    display: flex;
    gap: 10px;
  }
  
  .todo-actions svg {
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .todo-actions svg:hover {
    color: #007BFF;
    transform: scale(1.1);
  }
  
  #sort-select {
    border: none;
    border-radius: 8px;
    background-color: #e0f3ff; /* רקע עדין */
    padding: 8px;
    margin: 0 10px;
  }
  
  label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  .editingTodo {
    border: none;
    border-bottom: 2px solid #007BFF;
    padding: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
  }
  
  input[type="text"]:focus,
  .editingTodo:focus {
    border-color: #0056d2;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #eee;
    font-size: 0.9rem;
    margin-top: 20px;
    border-top: 1px solid #ddd;
  }
.add-todo{
    background: linear-gradient(90deg, #007BFF, #0056d2); /* מעברי צבע */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
 .add-todo:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
  }
  
