body {
    font-family: "Open Sans", "Alef", sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #444;
}

button {
    background: linear-gradient(90deg, #007BFF, #0056d2);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
}

.todo-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-title {
    flex: 1;
    margin-left: 10px;
}

.todo-actions {
    display: flex;
    gap: 10px;
}

.todo-actions svg {
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease, transform 0.2s ease;
}

.todo-actions svg:hover {
    color: #007BFF;
    transform: scale(1.1);
}

#sort-select {
    border: none;
    border-radius: 8px;
    background-color: #e0f3ff;
    /* רקע עדין */
    padding: 8px;
    margin: 0 10px;
}
.center-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* ממוקם במרכז העמוד */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ייתפוס את רוב המסך */
  }
  
  .center-alert p {
    font-size: 16px;
    color: #555;
  }
label {
    font-weight: bold;
    margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
.editingTodo {
    border: none;
    border-bottom: 2px solid #007BFF;
    padding: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}

input[type="text"]:focus,
.editingTodo:focus {
    border-color: #0056d2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #eee;
    font-size: 0.9rem;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.add-todo {
    background: linear-gradient(90deg, #007BFF, #0056d2);
    /* מעברי צבע */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s ease;
}

.add-todo:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 100%;                  /* יוצר גובה שיתמלא בתוכן */
    overflow-y: auto;               /* מאפשר גלילה לפי הצורך */
    overflow-x: hidden;             /* מסתיר גלילה לרוחב */
    margin: 0 auto;                  /* מיישר במרכז במסך */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    /* יישור התוכן מלמטה כלפי מעלה */
}



.root-container {
    width: 100%;
    /* תופס את כל רוחב העמוד */
    margin: 0;
    /* מיישר את התוכן במרכז הדף */
    /* padding: 20px;                   מרווח פנימי */
    /* position: sticky;                   מאפשר גמישות בעיצוב */
    flex-direction: column;
    /* מסדר את התוכן כעמודים */
    background-color: #f9f9f9;
    /* צבע רקע דף */
    /* min-height: 100vh;               מבטיח שהתוכן לא יתכסה מתחת */
    /* position: relative;              מיקום התוכן בעמוד */
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #e790b5;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 50%;
    margin: 70px auto;

}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: white;
    background-color: #333;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;

}

.nav-link:hover {
    background-color: #575757;
}

.logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #c0392b;
}



.todo-item {
    background-color: #1ccc4e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item button {
    background: linear-gradient(90deg, #007BFF, #0056d2);
    color: rgb(194, 18, 18);
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.todo-item button:hover,
.post-item button:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
}

.todo-item,
.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px 0;
}

.todo-text {
    flex: 1;
    text-align: right
}

.icon {
    cursor: pointer;
    margin-left: 50px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #0056d2;
}
.home-container {
    background-color: #c2d3ad;       /* צבע הרקע האדום */
    padding: 60px;
    max-width: 600px;                  /* מגביל את רוחב התוכן */
    margin: 10% auto;                 /* מיישר את התוכן במרכז */
    border-radius: 10px;               /* עיגול הפינות */
    display: flex;
    flex-direction: column;
    justify-content: center;           /* יישור התוכן בתוך ה-`div` */
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* תוספת הצללה רכה */
    color: white;                      /* צבע האותיות */
    text-align: center;                /* יישור האותיות למרכז */
    font-family: 'Arial', sans-serif; /* הפונט נקי ומקצועי */
    font-size: 24px;                   /* גודל האותיות */
    font-weight: bold;                 /* בולטות האותיות */
    line-height: 1.5;                  /* מרווח בין השורות */
}


.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 150px;
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.posts-container {
    position: relative;
}

/* .outlet-wrapper { */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* z-index: 10; */
    /* Make it appear on top */
    /* background-color: white; */
    /* Optional: Ensure visibility */
    /* padding: 10px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* Optional: Add shadow for emphasis */
    /* background-color: #c0392b; */
/* }










*/