body {
    font-family: "Open Sans", "Alef", sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    background: linear-gradient(135deg, #f1eff3, #2575fc);
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    overflow-y: hidden;

  }
.posts-bar,
.todo-bar {
    text-align: center;
}

.todo,
.album-link {
    display: flex;
    text-align: left;
}

h1 {
    text-align: center;
    color: #444;
}

button {
    background: linear-gradient(90deg, #007BFF, #0056d2);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
}

.todo-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo-title {
    flex: 1;
    margin-left: 10px;
}

.todo-actions {
    display: flex;
    gap: 10px;
}

.todo-actions svg {
    font-size: 18px;
    color: #555;
    transition: color 0.3s ease, transform 0.2s ease;
}

.todo-actions svg:hover {
    color: #007BFF;
    transform: scale(1.1);
}

#sort-select {
    border: none;
    border-radius: 8px;
    background-color: #e0f3ff;
    /* רקע עדין */
    padding: 8px;
    margin: 0 10px;
}

.center-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.center-alert p {
    font-size: 16px;
    color: #555;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
.editingTodo {
    border: none;
    border-bottom: 2px solid #007BFF;
    padding: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}

input[type="text"]:focus,
.editingTodo:focus {
    border-color: #0056d2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #eee;
    font-size: 0.9rem;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.show {
    background: linear-gradient(90deg, #007BFF, #0056d2);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: white;
}

.add-todo {
    background: linear-gradient(90deg, #007BFF, #0056d2);
    /* מעברי צבע */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s ease;
}

.add-todo:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.root-container {
    width: 100%;
    margin: 0;
    flex-direction: column;
    background-color: #f9f9f9;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 70px auto;

}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: white;
    background-color: #333;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;

}

.nav-link:hover {
    background-color: #575757;
}


.logout-button:hover {
    background-color: #c0392b;
}



.todo-item button,
.album-button {
    background: linear-gradient(90deg, #007BFF, #0056d2);
    /* color: rgb(194, 18, 18); */
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    /* font-size: 14px; */
    cursor: pointer;
    transition:  0.3s ease, transform 0.2s ease;
    width: 10em;
}

.todo-item button:hover,
.post-item button:hover {
    background: linear-gradient(90deg, #0056d2, #007BFF);
    transform: scale(1.05);
}

.todo-item,
.post-item,
.album-item,
.photo {
    display: flex;
    align-items: center;
    background-color: #e0f3ff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px 0;
}

.todo-text {
    flex: 1;
    text-align: right
}

.icon {
    cursor: pointer;
    margin-left: 300px;
    transition: color 0.3s ease;
}
/* 
.icon:hover {
    /* color: #0056d2; */
/* } */ */

.home-container {
    background-color: #c2d3ad;
    padding: 60px;
    max-width: 600px;
    margin: 0 auto;
    margin: 50% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}


.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 150px;
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.posts-container {
    position: relative;
}

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* שקיפות כהה */
    z-index: 9999; /* מבטיח שהחלון יהיה מעל כל שאר האלמנטים */
    display: flex;
    justify-content: flex-start; /* מיישר את הסיידבר מצד שמאל */
    align-items: center; /* מיישר את התוכן בתוך הסיידבר */
  }
  
  /* עיצוב הסיידבר עצמו */
  .sidebar {
    background-color: white;
    width: 300px; /* רוחב הסיידבר - ניתן לשנות */
    height: 100%; /* גובה מלא */
    padding: 20px;
    position: relative;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* גלילה במידה והמידע ארוך מדי */
  }
  
  /* עיצוב כפתור ה-X */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
  }
  
  .close-btn:hover {
    color: #000;
  }
  
  /* עיצוב התוכן בתוך הליסט */
  .user-info {
    margin: 10px 0;
    font-size: 14px;
    white-space: pre-wrap;
  }





